.draggable-div {
  position: absolute;
  min-width: 100px;
  width: auto;
  height: 50px;
  background-color: lightblue;
  cursor: grab;
  user-select: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-select{
  background-color: #2a385c;
  background-image: linear-gradient(320deg, hsl(215, 10%, 12%) 0% /* down */, hsl(215, 19%, 24%) /* up */ 100%);
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: wheat;
  font-weight: bold;
  font-size: large;
}